[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
importlib-metadata = "1.7.0"
pytest-pythonpath = "*"
numpy = "1.18.2"
pandas = "1.10.0"
pyspark = "3.0.0"
pytest = "5.4.3"
requests = "2.23.0"
seaborn = "0.10.1"
zipp = "3.1.0"
apache-airflow = "1.10.12"
psycopg2-binary = "*"
pipfile = "*"
py4j = "*"

[requires]
python_version = "3.7"
